@font-face {
    font-family: "Roboto Regular";
    src: local("Roboto Regular"),
    url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: local("Roboto Medium"),
    url("../assets/fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: local("Roboto Bold"),
    url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
}

* {
    font-family: "Roboto Regular", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent: #EF5B35;
    --accent-2: #F5F5FA;
    --text: #1E1F2E;
    --secondary: #6c757d;
    --bage-in-delivery: #FF9900;
    --bage-complete: #329C00;
    --input-background: #EBEBF0;
    --dangerous-action: #FF0000;
    --form-background: #fff;
    --border-radius: 15px;
    --regular-padding: 25px;
    --text-large: 24px;
    --text-medium: 20px;
    --text-regular: 16px;
    --text-small: 12px;
}
